@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600,700);

* {
	margin: 0;
	padding: 0;
}
html {
    font-family: 'Raleway', sans-serif;;
}

/*Typography*/
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="submit"],
input[type="button"],
button,
.ba-button {
	display: inline-block;

}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
}
textarea {
}
a {
    text-decoration: none;
}
h1 {
    font-size: 65px;
    color: #2d3033;
}
h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}


.ba-container {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}

.ba-btn {
	background-color: #e84545;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
}
.ba-btn-large {
 padding: 15px 40px;
}
.ba-btn:hover {
    background-color: #e52e2e;
}
.button-center {
    text-align: center;
}

/*Header*/

.ba-header__logo {
	color: #fff;
}





[class*='_float_right'] {
	float: right;
}
.navigation {
    padding: 15px 0 0;
}

.ba-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #292c47;
	line-height: 78px;
	z-index: 999;
}


/*Menu*/


.ba-menu{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.ba-menu__item {
	display: inline-block;
	line-height: 43px;
	margin-right: 30px;
	font-size: 16px;
}

.ba-menu__item a {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.ba-menu__item  a:hover {
    color: #fff;
}



/*banner*/
.ba-banner {
	margin-top:4.5em;
	padding: 10em 0 8em;
	height: 700px;
	min-height: 300px;
	background: #f5f5fd url(../img/banner.jpg) center no-repeat;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index:10000;
}
.ba-banner__text {
	color: #FFF;
}
.ba-banner__text__title {
	line-height: 1.1;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;

}
.ba-banner__text__p {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 80px;
}
.ba-banner__text__btn {
	color: #FFF;
}

/*features*/


.ba-features {
    font-size: 60px;
    color: #E84545;
    padding: 20px 0;
}
.feature-item {
    padding: 15px;
}
.ba-features__title {
    font-size: 14px;
    color: #2d3033;
    text-transform: uppercase;
    font-weight: 700;
}
.ba-features__text {
    font-size: 14px;
    line-height: 22.4px;
    color: #6c7279;
}


/*ba-grid-gallery*/
.ba-grid-gallery {
    padding-top: 70px;
    padding-bottom: 70px;
}

.ba-grid-gallery .ba-grid > [class*="ba-width-"] {
	padding-left: 0;
}

.ba-grid-gallery .ba-width-1-4 {/*
    min-height: 350px;*/
    /* -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;*/
    overflow: hidden;
}
.ba-grid-gallery  img {
    display:block;
}

/*gallery hover settings*/
.ba-product {
    position: relative;
    border: 1px solid #fff;
    overflow: hidden;
}
.ba-product img{
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.ba-product:hover img{
   -webkit-transform: scale(1.2);
   -moz-transform: scale(1.2);
   -o-transform: scale(1.2);
}
.ba-product__overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(232, 69, 69, 0.9);
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in, visibility .3s ease-in;
}
.ba-product__title {
    color: #FFF;
    font-weight: 700;
    font-size: 14px;;
    padding-top: 0px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: opacity .3s ease-in, transform .3s ease-in;
    opacity: 0;
    transform:translateY(-100px);
}
.ba-product__title__bottom {
    position: absolute;
    bottom: 130px;
    right: 0;
    left: 0;
    color: #FFF;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: opacity .3s ease-in, transform .3s ease-in;
    opacity: 0;
    transform:translateY(100px);
}

.ba-product:hover .ba-product__overlay{
    visibility: visible;
    opacity: 1;
}
.ba-product:hover .ba-product__title {
    opacity: 1;
    transform:translateY(0);
}
.ba-product:hover .ba-product__title__bottom {
    opacity: 1;
    transform:translateY(0);
}
/*END of gallery hover settings*/


/*ba-people*/
.ba-people {
    padding-bottom: 70px;
}
.ba-people__item {
    padding: 0 0px;
}
.ba-people__item img{
    width: 100%;
}

.ba-people__title{
    font-size: 22px;
    color: #2d3033;
    font-weight: 400;
}
.ba-people__job {
    color: #e84545;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.ba-people__item p{
    font-size: 14px;
    line-height: 22.4px;
    color: #6c7279;
    text-align: justify;
}


/*Social icons*/

.ba-social {
    padding-top: 20px;
    padding-bottom: 20px;
}
.social-icons li {
	float: left;
    list-style: none;
}

.social-icons li a {
    border: 1px solid #e8ecee;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #c6cacc;
    display: block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
    text-align: center;
    width: 40px;
}
.social-icons li a:hover{
    background-color: #e84545;
    border-color: #e84545;
    color: #fff;
}


/*Slider*/
.ba-slider .ba-grid {
    background-color: #53354a;
}
.ba-slider blockquote {
    padding: 100px 15% 0;
}
.ba-slider blockquote p {
    color: #fff;
    font: italic 36px "Cardo", Georgia, "Times New Roman", serif;
}
.ba-slider blockquote cite {
    color: #fff;
    display: block;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    margin-top: 30px;
    text-transform: uppercase;
}
.ba-slider img {
    display: block;
    width: 100%;
}

/*ba-download*/
.ba-download {
    padding-top: 70px;
    padding-bottom: 70px;
}

.ba-download__title {
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
}
.ba-download__p {
    color: #2d3033;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22.4px;
    padding-bottom: 50px;
}



/*Footer*/
.ba-footer-top {
    background-color: #3a3e64;
    padding-top: 50px;
    padding-bottom: 70px;
}
.ba-footer-top h5 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
.ba-footer-top p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 22.4px;
}
.ba-footer-top .social-icons{
    margin: 0 auto;
    width: 200px;
}
.ba-footer-top .social-icons li a{
    border:2px solid #fff;
    margin: 0 5px;
}


.ba-footer-bottom {
    background-color: #313454;
    padding: 20px 0;
    color: rgba(255, 255, 255, 0.5);
}
.ba-footer-bottom .fa-heart {
    color: #e84545;
    font-size: 11px;
    margin: 0 2px;
}
.ba-footer-bottom a {
    color: #FFF;
}
..ba-footer-bottom a:active{
    color: #FF0F;
}
.ba-footer-bottom .ba-text-center {
    line-height: 1.5;
}







